<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>__PREFIX__.cost-watch</string>
	<!-- Launch through the signed/ad-hoc-signed Wideband app so macOS presents
	     one branded background item. Python remains absolute because launchd's
	     PATH does not contain the Homebrew prefix. -->
	<key>ProgramArguments</key>
	<array>
		<string>__AGENT_EXECUTABLE__</string>
		<string>run-background-task</string>
		<string>__PYTHON__</string>
		<string>__ROOT__/loops/cost-watch</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<!-- launchd's default PATH contains none of the places brew puts things,
		     and this loop shells out to imsg. -->
		<key>PATH</key>
		<string>__HOME__/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/tmp/__PREFIX__.cost-watch.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/__PREFIX__.cost-watch.log</string>
</dict>
</plist>
